body
{
  
  margin: 0;
  background: #aaaea2;"
}

.header{
	width: 25.2%;
	margin: 10px auto 0px;
	color: white;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #423107 100%);
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 20px 20px 0px 0px;
	padding: 10px;
}

.input-group{ 




	background-image: linear-gradient(135deg, #fdfcfb 0%, #423107 100%);
    width: 24.5%;
	margin: auto;
	padding: 15px;
	border: 1px solid #B0C4DE;
	border-radius: 0px 0px 10px 10px;
}






.in{
  
	height: 10px;
	width: 80%;
	padding: 5px 14px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.send{
	margin-top: 10px;
	padding: 5px;
	font-size: 15px;
	color: white;
	background: #4c390c;
	border-radius: 5px;
}
